<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CloudStorage</title>

	{% csrf_token %}
	<script>
		const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
	</script>

	<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

	<link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Roboto:wght@300;400;700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
	<div class="container-wrapper">
		<section class="sidebar">
			<div class="sidebar__logo">
				<a href="">CloudStorage</a>
			</div>
			<div class="sidebar__btn">
				<span class="sidebar__upload-file">
					<input type="file" id="upload-file" multiple>
					<label for="upload-file">
						<img src="{% static 'img/icons/upload.svg' %}" alt="">
						<span>Загрузить</span>
					</label>
				</span>
				<span class="sidebar__create-folder">
					<button id="create-folder">
						<span class="sidebar__folder-img">
							<img src="{% static 'img/icons/create-folder.svg' %}" alt="">
						</span>
						<span>
							Создать папку
						</span>
					</button>
				</span>
				<span class="sidebar__previous-folder">
					<button id="previous-folder">
						<span>
							Назад
						</span>
					</button>
				</span>
			</div>
			<div class="sidebar__nav">
				<span class="sidebar__drive">
					<img src="{% static 'img/icons/drive.svg' %}" alt="">
					<span>Мой диск</span>
				</span>
			</div>

			<div id="item-popup-menu" class="popup-file">
				<span class="popup-file__download">Скачать</span>
				<span class="popup-file__delete">Удалить</span>
			</div>

			<div id="create-folder-popup-menu" class="popup-file">
				<input id="folder-name" type="text" placeholder="Название новой папки">
				<span id="create-new-folder">Создать</span>
			</div>

		</section>

		<section class="main">
			<div class="main__user-nav">
				<div class="main__search">
					<input class="main__search-line" type="text" placeholder="Поиск">
					<button class="main__search-btn">
						<img src="{% static 'img/icons/search.svg' %}" alt="">
					</button>

				</div>
				<div class="main__logout">
					<a href="" onclick="return logOut();">Выйти</a>
				</div>
			</div>
			<div class="main__content" id="content-area">
				<div class="listing__title">
					<p>Файлы</p>
				</div>
				<div id="all-files" class="listing__file">

				</div>

			</div>
		</section>

	</div>

	<script src="{% static 'Storage/script.js' %}"></script>

</body>

</html>
